@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    transition: 1s;
    margin: 0;
    padding: 0;
}

:root {
    --color01: #09070D;
    --color02: #F2F4F3;
    --color03: #1F2023;
    --color04: #7E8287;
    --color05: #5F00BA;
    --color06: #072AC8;
    --color07: #1E3DCD;
    --color08: #2D138A;
    --color09: #0CF2F2;
    --color10: #0CF2F2;
    --font-titulo: 'Poppins', sans-serif;
    --font-paragrafo: 'Roboto', sans-serif;
    --font-style: 'Expletus Sans', sans-serif;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F5F5F5;
    width: 100%;
}

h1{
    font-family: var(--font-titulo);
    font-weight: bold;
    padding: var(--titulo1_borda);
    font-size: 3rem;
    font
}

#menu_navega{
    display: flex;
    gap: 88px;
    color: var(--color02);
    list-style: none;
    font-family: var(--font-titulo);
    font-weight: 600;
    font-size: 1rem;
}

#logo_cabeca{
    width: 2.5rem;
    height: 2.5rem; 
}

#cabeca {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color01);
    height: 2.9rem;
    padding: 0.15rem 7.5rem 0.15rem 7.5rem;
    box-shadow: 0px 10px 50px #09070d2f;
}

#principal{
    margin: 7.9rem 14.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#palavras{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1.25rem;
}

#imagem{
    background-image: url('/Arquivos/Imagens/Imagem\ de\ jogo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 26rem;
    height: 26rem;
}

.button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-titulo);
    font-weight: 600;
    font-size: 1.625rem;
    border-radius: 1.375rem;
    width: 21.875rem;
    height: 3.875rem;
    padding: 0.75rem;
    color: var(--color02);
    background-color: var(--color01);
    border: none;
    margin: 3.25rem 0;
    box-shadow: 2px 3px 2px #072ac81a;
    transition: 0.5s;
    
}

.button:hover{
    transform: translateY(-10px);
    background-color: var(--color06);
}

h4{
    font-family: var(--font-titulo);
    font-weight:600;
    font-size: 1.125rem;
}

#saiba_mais{
    margin: 7.5rem 90vh;
}

.sobre-section{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: var(--color02);
    color: var(--color01);
    height: 30rem;
    box-shadow: 18px 18px 50px  #09070d52;
    width: 100%;
}

.sobre-section-direita{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: var(--color02);
    gap: 5rem;
    color: var(--color01);
    height: 30rem;
    width: 100%;
    box-shadow: 18px 18px 50px  #09070d52;
    
}

.sobre-section-black{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    background-color: var(--color01);
    color: var(--color02);
    height: 30rem;
    width: 100%;
    box-shadow: inset 0px 0px 50px -20px #f2f4f336;
}

.texto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--color01);
    text-align: center;
    width: 30rem;
}

.texto-esquerda{
    color: var(--color02);
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: left;
    width: 32rem;
    margin-left: 3vw;
}

.texto-direita{
    color: var(--color01);
    display: flex;
    justify-content: right;
    flex-direction: column;
    text-align: right;
    width: 36rem;
    margin-right: 3vw;
}

#ilutra02{
    background-image: url('/Arquivos/Imagens/ilustra02.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#ilutra01{
    background-image: url('/Arquivos/Imagens/Ilustra01.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.imagem-ilustra-direita{
    width: 22rem;
    height: 18rem;
    border-radius: 1.10rem;
    margin-right: 4vw;
}

.imagem-ilustra-esquerda{
    width: 22rem;
    height: 18rem;
    border-radius: 1.10rem;
    margin-left: 4vw;
}

#roda-pe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: first baseline;
    background-color: var(--color01);
    color: var(--color02);
    gap: 8rem;
    height: 29rem;
    box-shadow: 0px -8px 50px  #09070d31;
}

.contatos{
    margin-top: 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#contatos_direita{
    align-items: flex-end;
}

#contatos_esquerda{
    align-items: flex-start;
}

.contatos h1{
    font-size: 2rem;
}

.nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
    
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--color02);
    margin: 8px;
    transition: 0.3s;
  }

@media screen and (orientation: landscape) and (max-width: 1000px) {
    * {
        transition: 1s;
    }
    h1{
        font-size: 1.75rem;
    }

    h4{
        font-size: 0.75rem;
    }

    #cabeca{
        padding: 0.15rem 2rem 0.15rem 2rem;
    }

    #menu_navega li{
        font-size: 0.85rem;
    }

    .texto h1{
        font-size: 1.75rem;
    }

    .texto h4{
        font-size: 0.9rem;
    }

    .texto-direita h4{
        font-size: 0.75rem;
    }

    .texto-direita h1{
        font-size: 1.75rem;
    }

    .texto-esquerda h1{
        font-size: 1.75rem;
    }

    .texto-esquerda h4{
        font-size: 0.75rem;
    }

    .texto-esquerda {
        margin-left: 3.75rem;
    }

    .texto-direita {
        margin-right: 4.25rem;
    }

    .sobre-section{
        height: 24rem;
    }

    .sobre-section-direita{
        gap: 2.5rem;
        height: 24rem;
    }

    .sobre-section-black{
        gap: 2.5rem;
        height: 24rem;
    }

    .imagem-ilustra-direita{
        width: 24rem;
        height: 15rem;
        margin-right: 3.5rem;
        border-radius: 0.5rem;
    }

    .imagem-ilustra-esquerda{
        width: 24rem;
        height: 15rem;
        margin-left: 3.5rem;
        border-radius: 0.5rem;
    }

    #imagem{
        width: 20rem;
        height: 20rem;
    }

    .button{
        width: 18rem;
        height: 3rem;
        padding: 0.50rem;
        font-size: 1rem;
    }
    
    #roda-pe h1{
        font-size: 1.5rem;
    }

    #roda-pe h4{
        font-size: 0.75rem;
    }

    #roda-pe {
        gap: 5.5rem;
    }
}

@media screen and (max-width: 750px){

    body {
        overflow-x: hidden;
      }
      .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 100vw;
        height: 98vh;
        background: var(--color03);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 1;
      }
      .nav-list li {
        margin-left: 0;
        opacity: 0;
      }
      .mobile-menu {
        display: block;
      }
    
    
    .nav-list.active {
      transform: translateX(0);
    }
    
    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    
    .mobile-menu.active .line1 {
      transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .mobile-menu.active .line2 {
      opacity: 0;
    }
    
    .mobile-menu.active .line3 {
      transform: rotate(45deg) translate(-5px, -7px);
    }

    #cabeca{
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }   

    #logo_cabeca{
        margin-left: 2.5rem;
    }

    .mobile-menu{
        margin-right: 2.5rem;
    }

    #principal{
        flex-direction: column;
        text-align: center;

    }

    * {
        transition: 1s;
    }


    h1{
        font-size: 1.75rem;
    }

    #palavras{
        margin: 0;
    }

    h4{
        font-size: 0.75rem;
    }

    #menu_navega li{
        font-size: 0.85rem;
    }

    .texto h1{
        font-size: 1.5rem;
    }

    .texto h4{
        font-size: 0.65rem;
    }

    .texto-direita h4{
        font-size: 0.65rem;
    }

    .texto-direita h1{
        font-size: 1.5rem;
    }

    .texto-esquerda h1{
        font-size: 1.5rem;
    }

    .texto-esquerda h4{
        font-size: 0.65rem;
    }

    .texto{
        width: 16rem;
    }

    .texto-direita{
        margin: 0;
    }

    .texto-esquerda {
        text-align: center;
        width: 16rem;
        margin: 0;
    }

    .texto-direita {
        text-align: center;
        width: 16rem;
    }

    .sobre-section{
        height: 24rem;
    }

    .sobre-section-direita{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 24rem;
        text-align: center;
    }

    .sobre-section-black{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 24rem;
    }

    .imagem-ilustra-direita{
        width: 0rem;
        height: 0rem;
        position: absolute;
    }

    .imagem-ilustra-esquerda{
        width: 0rem;
        height: 0rem;
        position: absolute;
    }

    #imagem{
        width: 18rem;
        height: 18rem;
    }

    .button{
        width: 18rem;
        height: 3rem;
        padding: 0.50rem;
        font-size: 1rem;
    }
    
    #roda-pe h1{
        font-size: 0.95rem;
    }

    #roda-pe h4{
        font-size: 0.65rem;
    }

    #roda-pe {
        gap: 1.5rem;
    }

    

}
