@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --color01: #09070D;
    --color02: #F2F4F3;
    --color03: #231F20;
    --color04: #7E8287;
    --color05: #5F00BA;
    --color06: #072AC8;
    --color07: #1E3DCD;
    --color08: #2D138A;
    --color09: #0CF2F2;
    --color10: #0CF2F2;

    --font-titulo: 'Poppins', sans-serif;
    --font-paragrafo: 'Roboto', sans-serif;
    --font-style: 'Expletus Sans', sans-serif;

    --titulo1_borda: 24px 0px 12px 0px;
}

main{
    background-color: #F5F5F5;
}

h1{
    font-family: var(--font-titulo);
    font-weight: bold;
    padding: var(--titulo1_borda);
    font-size: 48px;
    font
}

#menu_navega{
    display: flex;
    gap: 88px;
    color: var(--color02);
    list-style: none;
    font-family: var(--font-titulo);
    font-weight: 600;
    font-size: 18px;
}

#logo_cabeca{
    width: 40px;
    height: 40px; 
}

#cabeca {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 41vh;
    align-self: center;
    background-color: var(--color01);
    height: 50px;
    padding: 5px 120px 5px 120px;
}

#principal{
    margin: 120px 230px;
    display: flex;
    justify-content: center;
}

#palavras{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

#imagem{
    width: 410px;
}

.button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-titulo);
    font-weight: 600;
    font-size: 26px;
    border-radius: 22px;
    width: 350px;
    height: 62px;
    padding: 12px;
    color: var(--color02);
    background-color: var(--color01);
    border: none;
    margin: 52px 0;
    box-shadow: 2px 3px 2px #072ac81a;
    transition: 0.5s;
}

.button:hover{
    transform: translateY(-10px);
}

h4{
    font-family: var(--font-titulo);
    color: var(--color01);
    font-weight:600;
    font-size: 18px;
}

#saiba_mais{
    margin: 120px 90vh;
}

.sobre-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 620px; 
}

.texto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 25vw;
}